/*----------------------------------------*/
/*  14. Faq CSS
/*----------------------------------------*/
.faq-desc {
  margin-bottom: 50px;
  // Responsive
  @media #{$tablet-device}{
      margin-bottom: 40px;
  }
  @media #{$large-mobile}{
      margin-bottom: 30px;
  }
  h3 {
    color: #444;
    font-size: 18px;
    font-weight: 700;
  }
  p {
    color: $body-color;
    margin: 0;
  }
}

.faq-accordion {
  .accordion {
    &-item {
      margin-bottom: 10px;
      border-radius: 0;
      &:not(:first-of-type){
        border-top: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
      }
      &.actives {
        --bs-accordion-border-color: #151515;
      }
    }
    &-header {
      padding: 0;
      margin-bottom: 0;
      border: 0;
    }
    &-button {
      display: block;
      padding: 15px 10px 15px 25px;
      cursor: pointer;
      background-color: #f5f5f5;
      color: #151515;
      border-radius: 0;
      &:hover {
        color: $theme-color !important;
      }
      &:focus {
        box-shadow: none;
      }
      &:not(.collapsed) {
        box-shadow: none;
      }
      &:after {
        content: "\f068";
        font-family: fontawesome;
        position: absolute;
        right: 15px;
        top: 15px;
        width: auto;
        background-image: none;
      }
      &[aria-expanded="false"]{
        &:after {
          content: "\f067";
        }
      }
      // Responsive
      @media #{$large-mobile}{
        font-size: 14px;
        padding-right: 30px;
      }
    }
  }
}

/* Faq Style Two CSS */
.faq-accordion {
.card-style-two {
  &.actives {
      & .card-header{
        background-color: $theme-color;
        border-color: $theme-color;
          & a{
              color: $white;
          }
      }
      border: 0;
  }
  border-radius: 0;
  margin-bottom: 10px;
  background-color: transparent;
  border: 0;
  .card-header {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: block;
    background-color: $white;
    border: 1px solid #eeeeee;
    padding: 0;
    text-decoration: none;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
      &:hover{
          background-color: $theme-color;
          border-color: $theme-color;
      }
    a {
        //Responsive
        @media #{$large-mobile}{
            font-size: 13px;
        }
        &.collapsed{
            &::before {
            font-size: 18px;
            content: "\f067";
            font-family: fontawesome;
            position: absolute;
            right: 15px;
            top: 15px;
          }
            &::after{
                display: none;
            }
            
        }
      &:after {
        font-size: 18px;
        font-family: fontawesome;
        position: absolute;
        right: 15px;
        top: 12px;
        content: "\f068";
      }
      display: block;
      padding: 15px 20px;
      cursor: pointer;
      font-size: 14px !important;
      line-height: 22px;
      font-weight: 500;
      color: $heading-color;
      // Responsive
      @media #{$large-mobile}{
        padding: 15px 15px;
      }
      &:hover {
        color: $white;
      }
      &:hover{
        color: $white !important;
      }
    }
  }
}
.card-body{
  border: 1px solid #ebebeb;
}
}